@import 'bootstrap/dist/css/bootstrap.min.css';





.leaflet-container {
  height: 100%;
  width: 100%;
  margin-top: 0.5rem;
  position: sticky;
  
}

.no-decoration {
  text-decoration: none;
}



.login-form{
  margin: auto;
}

h1{
  text-transform: uppercase;
}

.bg-dark2 {
  background-color: #0a0b0c;
  
}

.bg-dark2:hover {
  background-color: #101214;
}

.listings-text {
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.listings-container {
  max-height: 90vh;
  overflow-y: scroll;

}

.box{
  box-shadow: 2rem rgb(238, 238, 238);
  padding: 3rem;
  border-radius: 2rem;
  border: 0.3rem solid rgb(238, 238, 238);
  margin: 2rem
}