@import 'bootstrap/dist/css/bootstrap.min.css';

.leaflet-container {
  height: 100%;
  width: 100%;
  margin-top: 0.5rem;
  position: sticky;
  
}


.bg-dark2 {
  background-color: #0a0b0c;
  
}

.bg-dark2:hover {
  background-color: #101214;
}

.listings-text {
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.listings-container {
  max-height: 90vh;
  overflow-y: scroll;

}